.page {
	display: grid;
	grid-template-rows: 1fr;
	place-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	background: var(--tblr-body-bg);
}

.content {
	display: grid;
	place-items: center;
	min-width: 220px;
}
